*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	font-family: 'Raleway', sans-serif;
}
li{
	list-style-type: none;
}

.main-body {
	margin: 0 auto;
    
    width: 1170px;
}

.header-section {
	width: 1170px;
    margin: 35px auto 0px;
}

.container {
	    width: 100%;
}

.logo {
	width: 13%;
    position: relative;
}
.logo h1{
	position: absolute;
	top:10px;
	right:0;
	color:grey;
}
.logo-img{
	width: 20%;
	position: absolute;
	top:0;
	left: 0;

}

.social-icon {
	width: 87%;
	position:relative;
	top: 0;
	right:0;
}

.social-icon ul{
	float: right;
}
.middle-section {
}

.mid-container {
}

.bg {
}

.slider {
}

.text {
}

.click {
}

.third-section {
}